body {
  font-family: "Comic Sans MS";
}

.value {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.start {
  font-family: "Comic Sans MS";
  font-weight: bold;
  background-color: aqua;
  padding: 10px;
}
